name: Publish to pub.dev

on:
  push:
    tags:
      - '[a-z]+-v*'








#jobs:
#  publish-lib:
#    if: ${{ startsWith(github.ref_name, 'lib-') }}
#    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
#    with:
#      working-directory: lib
#  publish-example:
#    if: ${{ startsWith(github.ref_name, 'example-') }}
#    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
#    with:
#      working-directory: example

jobs:
  find-package:
    runs-on: ubuntu-latest
    steps:
    - id: sed
      run: |
        PACKAGE=$(echo "$GITHUB_REF" | sed 's#refs/tags/\([^-]*\)-.*#\1#')
        echo "package=$PACKAGE">> "$GITHUB_OUTPUT"
        echo "Prepare to publish \`$PACKAGE\`" >> "$GITHUB_STEP_SUMMARY"
    outputs:
      package: ${{steps.sed.outputs.package}}
  pana:
    runs-on: ubuntu-latest
    needs: find-package
    steps:
    - uses: actions/checkout@v3
    - uses: dart-lang/setup-dart@v1
    - run: dart pub global activate pana
    - run: dart pub global run pana . >> "$GITHUB_STEP_SUMMARY"
      working-directory: ${{needs.find-package.outputs.package}}
  publish:
    needs: find-package
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    with:
      environment: pub.dev
      working-directory: ${{needs.find-package.outputs.package}}





#  publish:
#    permissions:
#      id-token: write # This is required for requesting the JWT
#    runs-on: ubuntu-latest
#    environment: pub.dev
#    steps:
#      - uses: actions/checkout@v3
#      - uses: isoos/setup-dart@oidc-token
#      - name: Install dependencies
#        run: dart pub get
#      - name: Analyze
#        run: dart analyze
#      - name: Publish
#        run: dart pub publish -f
##
