name: Publish to pub.dev

on:
  push:
    tags:
      - v*

jobs:
  publish:
    permissions:
      id-token: write # This is required for requesting the JWT
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: isoos/setup-dart@oidc-token
      - name: Install dependencies
        run: dart pub get
      - name: Analyze
        run: dart analyze
      - name: Publish
        run: dart pub publish -f
